.info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.info img{
    width: 30px;
}

.info p{
    padding-left: 10px;
    font-weight: 400;
    font-size: 1rem;
}