.title_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 25%;
    margin-top: 5%;
}

.title_box h1{
    font-family: 'Cormorant Upright', sans-serif;
    font-size: 5rem;
    font-weight: 500;
    text-align: center;
}

.title_box h2{
    margin-top: 2%;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

@media only screen and (min-width: 300px) and (max-width: 600px){
    .title_box{
        padding: 0px 10%;
    }

    .title_box h1{
        font-size: 4rem;
    }

    .title_box h2{
        font-size: 1rem;
    }
}