.footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--text-black);
    color: var(--text-white);
    padding: 20px 0px;
    margin-top: 100px;
}