@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --background: #F6F3EC;
  --foreground: #FFFFFF;
  --background2:#e7e0cf; 
  --main: #15626A;
  --main2: #C2B79D;
  --text-white: #F2F2F2;
  --text-color: #C2B79D;
  --text-black: #232324;
  --text-gray: #868784;
  --shadow: #23232414;
  --placeholder: #EBEBEB;
  --placeholder2: #e1e1e1;
  font-family: 'Poppins', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
